body {
    font-family: "Roboto Mono", monospace;
    color: white;
    background-color: #0f0f23;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
}

.navbar a:hover {
    text-shadow: 1px 1px 16px rgba(255,255,255,1);
}

.navbar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;

}


/* For the file dropdown */
ul li:hover ul.dropdownFile {
    display: block;
}

ul li ul.dropdownFile {
    width: auto;
    position: absolute;
    display: none;
    background-color: rgba(15, 15, 35, 0.85);
    border: 1px inset white;

}

ul li ul.dropdownFile li {
    display: block;
}

/* For the edit dropdown */
ul li:hover ul.dropdownEdit {
    display: block;
}
ul li ul.dropdownEdit {
    width: auto;
    position: absolute;
    display: none;
    background-color: rgba(15, 15, 35, 0.85);
    border: 1px inset white;
}
ul li ul.dropdownEdit li {
    display: block;
}


/* Writing area */
main {
    margin-top: 15px;
    height: 90vh; /* 80% de la altura de la ventana */
}

.textArea {
    background-color: #0f0f23;
    color: white;
    font-size: 15px;
    width: 98%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    margin-left: 10px;
    tab-size: 3;
}

/* Checkbox for light and dark mode */
#themeCheckbox {
    margin-top: 8px;
}
.light-mode {
    background-color: #ebebef;
    color: #0f0f23;
}
.light-mode .textArea {
    background-color: #ebebef;
    color: #0f0f23;
}
.light-mode .navbar a {
    color: #0f0f23;
}
.container {
    display: flex;
}

/* Scrollbar */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ebebef #0f0f23;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #0f0f23;
}

*::-webkit-scrollbar-thumb {
    background-color: #ebebef;
    border-radius: 10px;
    border: 3px solid #ffffff;
}